.note-box {
  border: 1px solid #4419a8;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}



.popNote {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #badf19;
}